name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  goreleaser-build:
    name: GoReleaser Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.18
          - 1.19
    steps:
      - uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      -
        name: cross build with goreleaser
        uses: goreleaser/goreleaser-action@v3
        with:
          distribution: goreleaser
          version: latest
          args: build --rm-dist --snapshot

  test-linux:
    name: Go Test (Linux)
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go-version:
          - 1.18
          - 1.19
    steps:
      - uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: go test
        run: go test ./...

  test-macos:
    name: Go Test (macOS 12)
    runs-on: macos-12
    steps:
      - uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: go test
        run: go test ./...

  test-windows:
    name: Go Test (Windows)
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3

      - name: set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.18

      - name: go test
        run: go test ./...