name: Build Go

on:
  push:
    branches:
      - master
      - 'go*'
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go.yml'
  pull_request:
    branches:
      - master
    paths:
      - '**.go'
      - 'go.mod'
      - 'go.sum'
      - '.github/workflows/go.yml'

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@master

      - name: set up Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16beta1

      - name: check fmt
        run: find . -name '*.go' | xargs gofmt -l | read && echo "Code differs from gofmt's style. Run 'gofmt -w .'" 1>&2 && exit 1 || true

      - name: check go.mod
        shell: bash
        run: |
          go mod tidy
          git diff-index --quiet HEAD

      - name: go test
        run: go test ./...

      - name: install gox
        env:
          GO111MODULE: off
        run: go get github.com/mitchellh/gox

      - name: cross build
        shell: bash
        run: |
          export PATH=$PATH:$(go env GOPATH)/bin
          mkdir -p build/bin
          gox -ldflags '-X main.version=${{ github.sha }}' \
              -output='build/bin/{{.Dir}}-{{.OS}}-{{.Arch}}' \
              -os='windows linux darwin freebsd' \
              -arch='amd64 386 arm arm64' \
              -osarch='!darwin/386 !darwin/arm' ./cmd/gvm
