name: Go

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read

# Only one build per ref.
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

jobs:
  goreleaser-build:
    name: GoReleaser Build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: cross build with goreleaser
        uses: goreleaser/goreleaser-action@v6
        with:
          distribution: goreleaser
          version: latest
          args: build --clean --snapshot

  test:
    name: Test
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6

      - name: set up Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: go test
        run: go test -timeout 15m ./...